@font-face {
    font-family: 'Merel';
    src: url('fonts/Merel-Medium.eot');
    src: url('fonts/Merel-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Merel-Medium.woff2') format('woff2'),
        url('fonts/Merel-Medium.woff') format('woff'),
        url('fonts/Merel-Medium.ttf') format('truetype'),
        url('fonts/Merel-Medium.svg#Merel-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merel';
    src: url('fonts/Merel-Regular.eot');
    src: url('fonts/Merel-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Merel-Regular.woff2') format('woff2'),
        url('fonts/Merel-Regular.woff') format('woff'),
        url('fonts/Merel-Regular.ttf') format('truetype'),
        url('fonts/Merel-Regular.svg#Merel-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}