*{
	font-family: 'Merel',sans-serif;
	font-weight: 500;
}

.wrap{
	width: 1200px;
  	margin: 0 auto;
  	position: relative;
}

#show{
	margin-bottom: 15px;
}
/* Header  */

.header{
	/* transition: 0.1s; */
	height: 64px;
}

.scrolled .header {
	/* transition: 0.1s; */
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 64px;
	background: #f5f6fb;
	z-index: 99999;
}

.header__container{
	display: flex;
	align-items: center;
	height: 64px;
}

.navigation{
	margin-right: 158px;
}

.navigation__list{
	padding:0;
	margin: 0;
	display: flex;
}

.navigation__item{
	padding-left: 30px;
	list-style: none;
}

.navigation__link{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	color: #72699D;
}

.call-back{
	display: flex;
}

.call-back__phone{
	display: flex;
	align-items: center;
	text-decoration: none;
	padding-right: 30px;
}

.call-back__icon{
	width: 18.06px;
	height: 18.14px;
}

.call-back__number{
	padding-left: 11px;
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #72699D;
}

.call-back__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99px;
	height: 35px;
	text-decoration: none;
	box-shadow: 0 6px 20px #FFD857;
	background: #FFD857;
  border-radius: 17.5px;
}

.call-back__link{
	font-size: 18px;
	color: #72699D;
}

/* Section 1  */

.video-description{
	height: 690px;
	background: url(../images/sec-1__bg.png) no-repeat;
	background-position: center;
}

.video-description__title{
	position: relative;
	text-align: center;
	margin: 0;
    /*margin-bottom: 200px;*/
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 93px;
	color: #FFFFFF;
	padding-top: 50px;
	z-index: 4;
}

.video-description__frame{
	position: relative;
	margin-top: -130px;
  	margin-left: 431px;
	border: 20px solid #FFD857;
	box-sizing: border-box;
	width: 604px;
	height: 406px;
	z-index: 2;
}

.block-video{
	position: relative;
	margin-top: -270px;
  margin-left: 305px;
	border-radius: 25px;
	width: 600px;
	height: 400px;
	z-index: 10;
}

/* Section 2  */

.stock{
	position: relative;
	background: #f5f6fb;
	height: 832px;
}

.stock__container{
	position: relative;
	top: -95px;
	background: #ffffff;
	border-radius: 53px;
	width: 1200px;
	height: 865px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.5);
}

.stock__title{
	text-align: center;
	padding-top: 70.25px;
	margin: 0;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 56px;
	color: #72699D;
}

.block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 70px;
}

.box-show{
	margin-top: 38px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.box-show__img{
	width: 220px;
	height: 241.93px;
}

.box-show__description{
	padding-top: 26px;
	padding-left: 20px;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #72699D;
}

/*  МОДАЛЬНОЕ ОКНО   */

#modal{
	width: 100vw;
	height: 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	background: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal__container{
	/* margin: 25vh 25vw; */
	width: 595px;
	height: 455px;
	background: #FFFFFF;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	box-sizing: border-box;
	padding: 30px 70px;
	position: relative;
	z-index: 99999;
}

.closeModal{
	width: 17px;
	height: 17px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.modal__content{
	display: none;
}

.modal__title{
	margin: 0;
	padding-bottom:30px;
  text-align: center;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 36px;
	color: #C757AB;
}

.modal__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 24px;
	color: #000000;
}

.modal__info{
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info{
	display: flex;
	align-items: center;
}

.time__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	padding-left: 15px;
}

.price__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	padding-left: 15px;
}

.modal__btn{
	margin-top: 33px;
	display: flex;
	justify-content: center;
}

/* Section 3  */

.command__title{
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 56px;
	text-align: center;
	padding-top: 70px;
	margin-top: 0;
	margin-bottom: 15px;
	color: #72699D;
}

.command__person{
	width: 50%;
	display: flex;
	align-items: center;
}

.command__person-info{
	display: flex;
	flex-direction: column;
	width: 276px;
}

.command__name{
	text-align: center;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 36px;
	padding-bottom: 15px;
	color: #FFC80B;
}

.second-name{
	color: #E32B91;
}

.command__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

.command__info{
	display: flex;
	justify-content: center;
	align-items: center;
}

.command__img,.person__img-1,.person__img-2{
	height: 563px;
}

.person__img-1{
	transition: 1s;
	width: 260px;
}

.person-info-1{
	opacity: 0;
	transition: 1s;
}

.person-info-2{
	opacity: 0;
	transition: 1s;
}

.person__img-2{
	transition: 1s;
}


/* Section 4 */

.photo-galleries{
	height: 820px;
	background: linear-gradient(76.53deg, #C757AB 0%, #958DBE 100%);
}

.photo-galleries__title{
	font-family: 'Merel',sans-serif;
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	margin:0;
	padding-top: 83px;
	color: #FFFFFF;
}

.photo-galleries__frame{
	position: relative;
	margin-top: -90px;
  margin-left: 200px;
	width: 1000px;
	height: 600px;
	border: 20px solid #FFD857;
	box-sizing: border-box;
}

.photo-galleries .swiper-container {
	position: relative;
	margin-top: -500px;
	width: 1000px;
	height: 600px;
	border-radius: 25px;
}
.swiper-slide {
	border-radius: 25px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.photo-galleries .swiper-button-next,.photo-galleries .swiper-button-prev{
	color:#FFFFFF;
}


/* Section 5  */

.feedback{
	background: #f5f6fb;
	height: 545px;
}

.feedback__title{
	margin: 0;
	padding-top: 70px;
	padding-bottom: 39px;
	font-family: 'Merel',sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 56px;
	color: #72699D;
}

.feedback .swiper-container{
	width: 1056px;
	height: 299px;
	background: #FFFFFF;
	box-shadow: 0px 19px 30px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
}

.feedback .swiper-button-next,.feedback .swiper-button-prev{
	color:rgba(0, 0, 0, 0.2);
}

.feedback__post{
	padding-left: 150px;
	padding-right: 100px;
	display: flex;
	flex-direction: column;
}

.feedback__peson{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.feedback__avatar{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.feedback__name{
	font-size: 24px;
	padding-left: 15px;
}

.feedback__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 21px;
	padding-top: 15px;
	width: 806px;
	height: 124px;
	color: #000000;
}

/* Section 6  */

.confidence{
	background: #FFFFFF;
	height: 650px;
}

.confidence__title{
	margin: 0;
	padding-top: 70px;
	padding-bottom: 50px;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 56px;
	color: #72699D;
}

.confidence__container{
	display: flex;
	justify-content: space-around;
}

.confidence__img{
	justify-content: flex-start;
}

.confidence__img:nth-child(2){
	height: 180px;
}

/* Footer  */

.footer{
	height: 161px;
	background: #3C3C3C;
}

.footer__container{
	height: 161px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__info{
	display: flex;
	flex-direction: column;
}

.footer__copyright{
	font-family: 'Merel',sans-serif;
	font-weight: bold;
	color:#fff;
	padding-top: 20px;
	font-size: 18px;
}

.footer .call-back__icon,.footer .call-back__number{
	color:#FFFFFF;
}


/* Модальное окно ( заказать) */

#modalCall{
	width: 100vw;
	height: 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	background: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-call__container{
	width: 800px;
	height: 423px;
	background: linear-gradient(90deg, #C757AB 0%, #958CBD 100%);
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	box-sizing:border-box;
	position: relative;
	z-index: 99999;
	display: flex;
	justify-content: center;
}

.closeModalCall{
	color:#ffffff;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.modal-call__content{
	display: none;
}

.modal-call__title{
	margin: 0;
	width: 522px;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color:#ffffff;
	padding-top: 70px;
}

.modal-call__text{
	font-family: 'Merel',sans-serif;
	font-weight: 400;
	color:#ffffff;
	padding-top: 15px;
}

.modal-call__form{
	text-align: center;
	padding-top: 50px;
}

.modal-call__date{
	width: 522px;
	display: flex;
	justify-content: space-between;
}

.modal-call__input{
	width: 210px;
	height: 35px;
	background: #FFFFFF;
	border:0;
	border-radius: 17.5px;
	outline: none;
	padding-left:19px;
	padding-right: 19px;
}

.modal-call__btn{
	width: 173px;
	height: 35px;
	margin-top: 30px;
	outline: none;
	background: #FFD857;
	box-shadow: 0 6px 20px #FFD857;
	border-radius: 17.5px;
	font-family: 'Merel',sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #72699D;
}

.slider__img{
    width: 100%;
    border-radius: 25px;
}


/* Модальное окно ( заказать) */

@media (max-width: 1405px){

	.block-video{
	margin-top: -291px;
	}

}

